<header>
	<nav class="navbar navbar-default navbar-main" role="navigation">
		<div class="container">
			<div class="navbar-header text-center">
				<a class="navbar-brand ellipsis" href="{{ url_prefix }}/">
					<span class='navbar-brand-text'>
						<img class='navbar-icon' src='/assets/shah_entp_erpnext/images/logo-with-text.svg' />
						<!-- <img class='navbar-icon' src='/assets/shah_entp_erpnext/images/logo.jpg' />
						<div style='display: inline-block;'>
							<span class='red'>Shah</span><span class='blue'>Enterprises</span>
						</div> -->
					</span>
				</a>
				<a class="pull-right toggle-sidebar visible-xs">
					<i class="octicon octicon-three-bars"></i>
				</a>
			</div>
			<div class="hidden-xs navbar-items">
				{% block navbar_items %}
				{% include "templates/includes/navbar/navbar_items.html" %}
				{% endblock %}
			</div>
		</div>
	</nav>
</header>
