@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,900,900italic&subset=latin,latin-ext);
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #415A72;
  line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #415A72;
  font-weight: 900;
}
hr {
  border-color: #EBEFF2;
}
.navbar .navbar-text,
.navbar .navbar-brand,
.navbar .navbar-link,
.navbar .nav > li > a,
a {
  color: #415A72;
}
.navbar .navbar-text:hover,
.navbar .navbar-brand:hover,
.navbar .navbar-link:hover,
.navbar .nav > li > a:hover,
a:hover,
.navbar .navbar-text:focus,
.navbar .navbar-brand:focus,
.navbar .navbar-link:focus,
.navbar .nav > li > a:focus,
a:focus,
.navbar .navbar-text:active,
.navbar .navbar-brand:active,
.navbar .navbar-link:active,
.navbar .nav > li > a:active,
a:active {
  color: #AD495E;
}
.container {
  max-width: 800px !important;
}
.product-image-square {
  background-size: contain;
  background-position: center center;
  border: none;
}
.with-image .product-text {
  padding-top: 23px;
}
.without-image .cas-no {
  padding-top: 15px;
}
.navbar {
  padding: 0px;
  border-bottom: none;
}
.navbar-brand {
  display: inline-block;
  margin-top: 5px;
}
.navbar-icon {
  max-width: 80px;
  margin-top: -15px;
}
.navbar-brand-text {
  font-family: 'League Spartan', sans-serif;
  font-size: 1.8em;
  display: inline-block;
}
.navbar-brand-text .red {
  color: #AD495E;
}
.navbar-brand-text .blue {
  color: #415A72;
}
.navbar-items {
  padding-top: 30px;
}
.home-wrapper {
  padding: 30px 0px;
}
.home-wrapper .lead {
  margin-top: 90px;
}
.home-wrapper .product-search {
  margin-bottom: 60px;
}
.home-wrapper .product-search .input-group {
  width: 75%;
}
.home-wrapper .product-search .input-group .form-control {
  font-size: 16px;
}
.home-wrapper .product-search .input-group-btn {
  width: 30px;
}
.home-wrapper .why-source-from-us {
  padding-top: 60px;
}
.home-wrapper .why-source-from-us .row > div {
  padding: 30px 15px;
}
.home-wrapper .why-source-from-us h4 {
  color: #AD495E;
}
button.btn-default,
button.btn-primary {
  background-color: transparent;
  border-color: #415A72;
  color: #415A72;
  font-weight: inherit;
}
button.btn-default:hover,
button.btn-primary:hover,
button.btn-default:focus,
button.btn-primary:focus,
button.btn-default:active,
button.btn-primary:active {
  background-color: #fafbfc;
  border-color: #415A72;
  color: #415A72;
  font-weight: inherit;
}
.input-group .form-control {
  border-color: #415A72;
}
.label-default {
  font-weight: inherit;
  font-size: inherit;
}
.footer-links .row:nth-child(2) .col-sm-8 {
  float: none;
  width: 100%;
  text-align: center;
}
